//= require styles
//= require material.red-blue.min

/* Top loading/activity bar */
#activity {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

#activity.active {
	display: block;
}

@media screen and (min-width:1024px) {
	#activity > * {
		-webkit-animation-duration: 3s;
		animation-duration: 3s /* Apply media queries */
	}
}
