//= require styles
//= require error_page
//= require material.red-blue.min

main {
	background: url(/assets/images/background.png) no-repeat center center;
	background-size: 250px;

	.is-small-screen & {
		background-size: 200px;
	}
}

#page-wrapper {
	margin-top: 10px;
}

table.brigading-users {
	th {
		height: 34px;

		&[rowspan="2"] {
			vertical-align: top;
			line-height: 44px;
		}

		&.participation {
			text-align: center;
			padding-bottom: 0px;
		}
	}
}

/* Top loading/activity bar */
#activity {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

#activity.active {
	display: block;
}

@media screen and (min-width:1024px) {
	#activity > * {
		-webkit-animation-duration: 3s;
		animation-duration: 3s /* Apply media queries */
	}
}
