#old, #fail {
	display: none;
}

#old {
	margin-top: 20px;
}

#splash {
	background: #F44336;
	color: #FFF;
	width: 100%;
	height: 100%; 
	z-index: 10;
	top: 0; 
	left: 0; 
	position: fixed; 
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	
	img {
		width: 140px;
		height: 140px;
		margin: 10% auto 0px auto;
	}
	
	#progress {
		margin: 10px auto;
		width: 140px;
		border: 1px solid #FFF;
		padding: 2px;
		
		* {
			height: 10px;
			background: #FFF;
			width: 1%;
		}
	}
}
