---
permalink: /app.html
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	
	<title>Loading...</title>
	
	{% css app %}
	
	{% include splash_styles.html %}
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	{% include meta_tags.html %}
	{% include favicons.html %}
	
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
</head>
<body>
<div id="splash">
	<div id="load">
		<img alt="{{ site.title }} Logo" src="/assets/images/splash.png">
		<div id="progress">
			<div id="bar"></div>
		</div>
	</div>
	<div id="old">
		<p>Your browser does support essential components needed for {{ site.title }} to work. Please update your browser.</p>
		<p>{{ site.title }} runs best on the latest versions of <a href="https://www.mozilla.org/en-GB/firefox/new/">Firefox</a> or <a href="https://www.google.com/chrome/">Google Chrome</a>.</p>
		<p>It would be great if this wasn't the case, but that's when happens when 1 person maintains the whole site.</p>
	</div>
</div>
<!-- The garbage zone -->
<script>
var splash = {
	loaded : function() {
		++splash.doneStages;
		
		bar.style.width = splash.doneStages / splash.stages * 100 + '%';
		
		if (splash.doneStages === splash.stages) {
			document.body.insertAdjacentHTML('beforeend', splash.body);
			
			componentHandler.upgradeDom();
			launchApp();
			
			setTimeout(function(){
				document.body.removeChild(splash.element);
				delete splash;
			}, 200);
		}
	},
	element : document.getElementById('splash'),
	doneStages : 0,
	stages : 2,
	bar : document.getElementById('bar'),
},
cb = function(){
	var bodyReq, load = document.getElementById('load'),
	old = document.getElementById('old');
	
	var bodyReq = new XMLHttpRequest();
	
	bodyReq.onreadystatechange = function() {
		if (bodyReq.readyState === 4 && bodyReq.status === 200) {
			splash.body = bodyReq.responseText;
			splash.loaded();
		}
	}
	
	bodyReq.open("GET","/assets/app-body.html", true);
	bodyReq.send();
},
raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) raf(cb);
else window.addEventListener('load', cb);
</script>
{% javascript app async onload="splash.loaded()" onerror="alert('Derp')" %}
</body>
</html>