<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link rel="stylesheet" href="/assets/styles/material.red-blue.min.css">
	<link rel="stylesheet" href="/assets/styles/styles.css">
	
	{% if page.styles %}
		{% for stylesheet in page.styles %}
			<link rel="stylesheet" href="/assets/styles/{{ stylesheet }}.css">
		{% endfor %}
	{% endif %}
	
	<script defer src="/assets/scripts/material.min.js"></script>
	
	<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
	
	{% include meta_tags.html %}
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="wrapper" class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
	
	{% include navigation.html %}
	{% include header.html %}
	
	<main class="mdl-layout__content">
		{{ content }}
	</main>
</div>
</body>
</html>